<% include ./partials/header %>

<div class="container">
	<div class="col-md-4 col-md-offset-4">
		<section>
			<div class="panel panel-default top caja">
			    <div class="panel-body">
			        <h2 class="text-center">Login!</h2>
                    <form action='/login' method='post'>
                    	<div class="input-group input-group-lg">
                    	    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                    	    <input type="text" name="email" class="form-control" placeholder="username" aria-describedby="sizing-addon1" required>
                    	</div>
                    	<br>
                    	<div class="input-group input-group-lg">
                    	    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                    	    <input type="password" name="password" class="form-control" placeholder="password" aria-describedby="sizing-addon1" required>
                    	</div>
                    	<br>
                    	<button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
			    </div>
			</div>
		</section>
	</div>
</div>
<% include ./partials/footer %>